*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f3f3f3;
}

.container{
width:1200px;
margin:40px auto;
display:flex;
background:white;
padding:20px;
}

/* ảnh */
.product-img img{
width:600px;
}

/* thông tin */
.product-info{
padding-left:40px;
}

/* nút quay lại */
.back{
background:#ddd;
border:none;
padding:8px 15px;
margin-bottom:10px;
cursor:pointer;
border-radius:5px;
}

.back:hover{
background:#bbb;
}

.breadcrumb{
color:#777;
margin-bottom:10px;
}

.product-info h1{
font-size:28px;
margin-bottom:15px;
}

.price-box{
margin-bottom:20px;
}

.old-price{
text-decoration:line-through;
color:#888;
font-size:18px;
margin-right:15px;
}

.new-price{
font-size:40px;
color:red;
font-weight:bold;
}

.info p{
margin:6px 0;
}

/* số lượng */
.quantity{
margin-top:20px;
margin-bottom:20px;
}

.quantity button{
width:35px;
height:35px;
font-size:18px;
}

.quantity input{
width:40px;
text-align:center;
height:35px;
}

/* nút mua */
.buy{
width:100%;
background:#7a3b10;
color:white;
padding:15px;
font-size:18px;
border:none;
cursor:pointer;
}

.buy span{
font-size:14px;
}
/* HEADER */
.header {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.header a:hover {
    color: gold;
}
