body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.menu {
    background: #4facfe;
    padding: 15px;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

.products {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product p {
    color: #ff5252;
    font-weight: bold;
}